@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jacquard+24&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*
{font-family: 'Rambla', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: aliceblue;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
@media only screen and (max-width: 1080px) { header {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    } }
.headerdiv {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.headerdiv img {
    width: 80%;
    transition: 2s;
    max-width: 200px;
}
#active {
    color: #a50000;
}
header nav {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
nav a {
    font-family: "Montserrat", system-ui;
    font-size: 2vw;
    padding: 20px;
    transition: 1s;
}
nav a:hover {
    color: #a50000;
}
@media only screen and (max-width: 1080px) { nav a {
    font-size: 4vw;
    padding: 10px;
} }

header img {
    width: 100%;
}
.imagen_header h1 {
    font-family: "Rambla", system-ui;
    font-size: 10vw;
    color: brown;
    position: absolute;
    margin-top: 15%;
    max-width: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    transition: 2s;
    filter: drop-shadow(0.5vw 0.5vw 2px #000000);
    border-radius: 10%;
    padding: 0px 30px;
    text-wrap: nowrap;
}
.imagen_header h1:hover {
    color: rgb(173, 5, 5);
    background-color: black;
}
.imagen_header{
    transition: 2s;
}
main {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
main section h2 {
    color: #000000;
    padding: 20px;
    font-size: 23px;
}
main section h1 {
    margin-top: 20px;
}
@media only screen and (max-width: 1080px) {.Intro_section h1 {
    font-family: "anton", system-ui;
    color: black;
    text-align: center;
    font-size: 10vw;
    padding: 20px;
}}
.Intro_section h1 {
    font-size: 80px;
    color: #000000;
}
@media only screen and (max-width: 1080px) {.Intro_section h2 {
    font-family: "montserrat", system-ui;
    color: rgb(22, 22, 22);
    text-align: center;
    font-size: 5vw;
    padding: 20px;
}}
.Intro_section h2 {
    font-size: 40px;
    color: #000000;
    text-align: center;
}
@media only screen and (max-width: 1080px) {.Intro_section i {
    font-family: "montserrat", system-ui;
    color: rgb(22, 22, 22);
    text-align: center;
    font-size: 5vw;
}}
.Intro_section i {
    font-size: 40px;
    color: #000000;
    text-align: center;
    text-wrap: wrap;
}
section h1 {
    color: rgb(129, 0, 0);
    font-family: "montserrat", system-ui;
    text-align: center;
    font-size: 30px;
}
/* FORMULARIO */

input, textarea, label, option, select {
    color: black;
    font-family: "montserrat", system-ui;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #c20000;
    color: rgb(20, 20, 20);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #ff7171;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  /* Honeypot */

  .user-cannot-see {
    display:none
}
footer {
    background-color: #000000;
}
footer div {
    padding: 30px 0px;
    margin-top: 20px;
}
footer h4 {
    text-align: center;
    background-color: #000000;
}
/* Nuevo HTML */

.proyectos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.proyectos article {
    width: 25%;
}
.proyectos article img {
    width: 100%;
    padding: 2%;
}
.proyectos h2 {
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding: 0px;
    background-color: #ccc;
}
.proyectos article {
        width: 50%;
        padding: 2%;
    }
